# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
deploy
deploy-consumer
.settings

# Ignore project-specific directory
tmp
.vscode
.classpath
.project

bin
